## Directorios de compilación (Basura que genera VS al dar a "Play")
[Bb]in/
[Oo]bj/

## Configuración local de Visual Studio
.vs/
*.user
*.userprefs
*.suo
*.sln.docstates

## Archivos temporales y de caché
*.tmp
*.cache
*.log

## Datos de la práctica (Opcional)
# Si no quieres que los CSV que genera Experiment.ExportCsv se suban, 
# descomenta la siguiente línea. Pero ojo: la práctica pide entregarlos.
# *.csv